<main>
<div class="main">
    <section class="module-small">
      <div class="container">
        <form class="row">
          <div class="col-sm-4 mb-sm-20">
            <select class="form-control">
              <option selected="selected">Default Sorting</option>
              <option>Popular</option>
              <option>Latest</option>
              <option>Average Price</option>
              <option>High Price</option>
              <option>Low Price</option>
            </select>
          </div>
          <div class="col-sm-2 mb-sm-20">
            <select class="form-control">
              <option selected="selected">Woman</option>
              <option>Man</option>
            </select>
          </div>
          <div class="col-sm-3 mb-sm-20">
            <select class="form-control">
              <option selected="selected">All</option>
              <option>Coats</option>
              <option>Jackets</option>
              <option>Dresses</option>
              <option>Jumpsuits</option>
              <option>Tops</option>
              <option>Trousers</option>
            </select>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-block btn-round btn-g" type="submit">Apply</button>
          </div>
        </form>
      </div>
    </section>
    <hr class="divider-w">
    <section class="module-small">
      <div class="container">
        <div class="row multi-columns-row">
          <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let article of brands;let j=index " >
            <div class="shop-item">
              <div class="shop-item-image">
                
                <img  *ngFor="let img of article?.imgs;let i=index" src={{img?.link}} >


                <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket">view details</span></a></div>
              </div>
              <h4 class="shop-item-title font-alt"><a href="#">{{article.BrandName}}</a></h4>{{article.Desc}} 
            </div>
          </div>
         
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a></div>
          </div>
        </div>
      </div>
    </section>

  
  </div>
</main>