<div >
 <div class="module-small bg-dark" >
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="widget">
            <h5 class="widget-title font-alt">À PRPOS MREYET</h5>
            <p>Adresse: Tunisia , les berges du lac 1053 tunis rue lac victoria </p>
            <p>Phone: +216 22 222 222</p>
            <p>Fax: +216 22 222 222</p>
            <p>Email:<a href="#"> Mreyetcompany@gmail.com</a></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="widget">
            <h5 class="widget-title font-alt"> BESOIN D'AIDE ?</h5>
            <ul class="icon-list">
              <li><a href="#">Foire aux Questions</a></li>
              <li> <a href="#">Contactez-nous</a></li>
              <li> <a href="#">Plan du site</a></li>

             

            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="widget">
            <h5 class="widget-title font-alt">INFORMATIONS SUR MREYET
            </h5>
            <ul class="icon-list">
              <li><a href="#">Politique de confidentialité </a></li>
              <li><a href="#">A propos de Mreyet</a></li>
              
            </ul>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  <hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="copyright font-alt">&copy; 2021&nbsp;<a href="index.html">Mreyet</a>, All Rights Reserved</p>
        </div>
        <div class="col-sm-6">
          <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</div>