<hr class="divider-w">
<section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">NOUVEAUTÉS</h2>
          <div class="module-subtitle font-serif">Collections été 2021</div>
        </div>
      </div>
      <div class="row">
        <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="ex-product"><a href="#"><img src="assets/template/images/news-collection/new-collection-1.jpg" alt="Leather belt"/></a>
                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£12.00
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="ex-product"><a href="#"><img src="assets/template/images/news-collection/new-collection-2.jpg" alt="Derby shoes"/></a>
                <h4 class="shop-item-title font-alt"><a href="#">Derby shoes</a></h4>£54.00
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="ex-product"><a href="#"><img src="assets/template/images/news-collection/new-collection-3.jpg" alt="Leather belt"/></a>
                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£19.00
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="ex-product"><a href="#"><img src="assets/template/images/news-collection/new-collection-4.jpg" alt="Leather belt"/></a>
                <h4 class="shop-item-title font-alt"><a href="#">Leather belt</a></h4>£14.00
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="ex-product"><a href="#"><img src="assets/template/images/news-collection/new-collection-5.jpg" alt="Chelsea boots"/></a>
                <h4 class="shop-item-title font-alt"><a href="#">Chelsea boots</a></h4>£44.00
              </div>
            </div>
          </div>
    
        </div>
      </div>
    
    </div>
    <div class="row mt-30">
        <div class="col-sm-12 align-center"><a class="btn btn-b btn-round" href="#">VOIR LA COLLECTION</a></div>
      </div>
  </section>