<div class="main">

    <section class="module">
      <div class="container">
        <div class="row">
  
          <div class="col-sm-6 col-sm-offset-3">
            <h4 class="font-alt">Mot de passe oublié ?</h4>
            <h6>Veuillez renseigner l'adresse e-mail que vous avez utilisée à la création de votre compte. Vous recevrez
              un lien temporaire pour réinitialiser votre mot de passe.</h6>
            <hr class="divider-w mb-10">

          <div id="errorMsg" *ngIf="errorMessage">
            <div class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
          </div>
          <div id="successMsg" *ngIf="successMessage">
            <div class="alert alert-success" role="alert">
              {{successMessage}}
            </div>
          </div>

          <div id="errorMsg" *ngIf="errorInputMessage">
            <div class="alert alert-danger" role="alert">
              {{errorInputMessage}}
            </div>
          </div>




            <form class="form" action="" [formGroup]="RequestResetForm" (ngSubmit)="RequestResetUser()">
              <div class="form-group">
                <input class="form-control" formControlName="email" id="E-mail" type="text" name="email" placeholder="Email"/>
                <div *ngIf="submitted && myForm.email.errors" class="invalid-feedback">
                  <div *ngIf="myForm.email.errors.required">*Email obligatoire</div>
                  <div *ngIf="myForm.email.errors.email">*L'email doit être une adresse e-mail valide</div>
                </div>
              </div>
    
              <div class="form-group">
                <button class="btn btn-block btn-round btn-b">Envoyer un lien de réinitialisation</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  
  
  </div>