<hr class="divider-w">
<section class="module-small">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">NOS MEILLEURES MARQUES</h2>
        </div>
      </div>
    <div class="row client">
      <div class="owl-carousel text-center" data-items="6" data-pagination="false" data-navigation="false">
        <div class="owl-item">
          <div class="col-sm-12">
            <div class="client-logo"><img src="assets/template/images/brands/boss.jpg" alt="Client Logo"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
            <div class="client-logo"><img src="assets/template/images/brands/carrera.jpg" alt="Client Logo"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
            <div class="client-logo"><img src="assets/template/images/brands/chanel.jpg" alt="Client Logo"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
            <div class="client-logo"><img src="assets/template/images/brands/giorgioarmani.jpg" alt="Client Logo"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
            <div class="client-logo"><img src="assets/template/images/brands/guess.jpg" alt="Client Logo"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
            <div class="client-logo"><img src="assets/template/images/brands/prada.jpg" alt="Client Logo"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
            <div class="client-logo"><img src="assets/template/images/brands/lacoste.jpg" alt="Client Logo"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
            <div class="client-logo"><img src="assets/template/images/brands/rayban.jpg" alt="Client Logo"/></div>
          </div>
        </div>
     
      </div>
    </div>
  </div>
</section>