<section class="module">
    <div class="container">
       
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">NOS PRODUITS</h2>
            <div class="module-subtitle font-serif">Retrouvez toutes les tendances</div>

          </div>
        <div class="col-sm-12">
          <ul class="filter font-alt" id="filters">

            
            <li><a class="current wow fadeInUp" href="#" data-filter=".SOLEIL" data-wow-delay="0.6s">LUNETTES DE SOLEIL</a></li>

            <li><a class="wow fadeInUp" href="#" data-filter=".VUE" data-wow-delay="0.2s">LUNETTES DE VUE</a></li>
       
          </ul>
        </div>
      </div>
      <ul class="works-grid works-grid-masonry works-hover-w works-grid-3" id="works-grid">
    
        <li class="work-item  SOLEIL "><a >
            <div class="work-image"><img src="assets/template/images/our-products/lunette-soleil-rayban.jpg" alt="Portfolio Item"/></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Bag MockUp</h3>
              <div class="work-descr">Marketing</div>
            </div></a></li>
        <li class="work-item  SOLEIL "><a >
            <div class="work-image"><img src="assets/template/images/our-products/lunette-soleil-rayban-1.jpg" alt="Portfolio Item"/></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Disk Cover</h3>
              <div class="work-descr">Illustration</div>
            </div></a></li>
            <li class="work-item  SOLEIL "><a >
                <div class="work-image"><img src="assets/template/images/our-products/lunette-soleil-rayban-2.jpg" alt="Portfolio Item"/></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">Business Card</h3>
                  <div class="work-descr">Photography</div>
                </div></a></li>
                <li class="work-item VUE  "><a >
                    <div class="work-image"><img src="assets/template/images/our-products/lunette-vue-1.jpg" alt="Portfolio Item"/></div>
                    <div class="work-caption font-alt">
                      <h3 class="work-title">Business Card</h3>
                      <div class="work-descr">Photography</div>
                    </div></a></li>
                    <li class="work-item VUE  "><a >
                        <div class="work-image"><img src="assets/template/images/our-products/lunette-vue-1.jpg" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Business Card</h3>
                          <div class="work-descr">Photography</div>
                        </div></a></li>

      </ul>
      <div class="row mt-30">
        <div class="col-sm-12 align-center"><a class="btn btn-b btn-round" href="#">DECOUVRIR</a></div>
      </div>
    </div>
  </section>