
<section class="home-section home-fade home-full-height" id="home">
    <div class="hero-slider">
      <ul class="slides">
        <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;assets/template/images/sliders/slider1.jpg&quot;);">
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-4">  titre</div>
              <div class="font-alt mb-40 titan-title-size-1">description</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">action</a>
            </div>
          </div>
        </li>
        <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;assets/template/images/sliders/slider3.jpg&quot;);">
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-4"> titre</div>
              <div class="font-alt mb-40 titan-title-size-1">description</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">action</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="main">


  <app-our-products></app-our-products>
<app-new-collection></app-new-collection> 
  <app-best-brands></app-best-brands>
   

  </div>